@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400);

* {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

body {
    /*background: linear-gradient(to right, #529DDA, rgba(50, 49, 155, 0.9), #529DDA);*/
    font-family: "Source Sans Pro", sans-serif;
    letter-spacing: 0.05em;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

canvas {
    position: absolute;
    z-index: -10;
    top: -10px;
}

h1 {
    text-transform: uppercase;
    text-align: center;
    margin-top: 40px;
    color: #fff;
    letter-spacing: 0.2em;
    transition: display 1s ease-in-out;
}

.guitar-neck {
    position: absolute;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 960px;
    height: 250px;
    background: #755628;
    box-shadow: inset -1px 0px 11px 0px rgba(0, 0, 0, 0.75);
}

.guitar-neck.hidden {
    display: none;
}

.guitar-neck .fret {
    float: left;
    width: 3px;
    height: 250px;
    background: #d7d6d6;
    margin-left: 75px;
    border-right: 2px solid #686868;
}

.guitar-neck .fret.first {
    position: absolute;
    width: 50px;
    left: -52px;
    top: 0;
    margin-left: 0;
    background: #211f1d;
}

.guitar-neck .dots {
    position: absolute;
    width: 715px;
    height: 20px;
    top: 44%;
    left: 19.5%;
}

.guitar-neck .dots li {
    float: left;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #383530;
    margin-right: 140px;
}

.guitar-neck .dots li:nth-of-type(6) {
    position: absolute;
    float: right;
    top: 45px;
    left: 100%;
}

.guitar-neck .dots li:nth-of-type(5) {
    position: absolute;
    top: -45px;
    left: 100%;
}

.guitar-neck .strings {
    position: absolute;
    left: 0;
    top: 10px;
    width: 960px;
    height: 250px;
}

.guitar-neck .strings li {
    height: 1px;
    display: inline-block;
    width: 100%;
    background: #c8bb93;
    margin-bottom: 38px;
    border-bottom: 2px solid #958963;
    box-sizing: border-box;
}

.guitar-neck .strings li:nth-child(2) {
    height: 2px;
}

.guitar-neck .strings li:nth-child(3) {
    height: 3px;
}

.guitar-neck .strings li:nth-child(4) {
    height: 4px;
}

.guitar-neck .strings li:nth-child(5) {
    height: 5px;
}

.guitar-neck .strings li:nth-child(6) {
    height: 6px;
}

.guitar-neck .note {
    position: absolute;
    background-color: #1E7EA2;
    height: 50px;
    width: 50px;
    border-radius: 100%;
    text-align: center;
    line-height: 50px;
    color: #fff;
    font-size: 22px;
    font-weight: bold;
    opacity: 0;
    cursor: pointer;
    transition: left 0.9s ease, top 0.9s ease, background-color 0.3s ease;
}

.guitar-neck .note.highlight-as-harmony {
    background-color: #767a7a;
}

.guitar-neck .note.harmony-seventh {
    background-color: #665353;
}

.guitar-neck .note.correct {
    background-color: green;
}

#diatonic-chords {
    position: absolute;
    margin-right: 73%;
    left: 7em;
    top: 9.5em;
}

#diatonic-chords.active {
    /*top: 50px;*/
    /*transition: top 1s ease;*/
}

#diatonic-chords h2 {
    margin-left: -35px;
    color: #fff;
}

#diatonic-chords ul {
    display: flex;
    justify-content: space-around;
}

#diatonic-chords .chord {
    border: 1px solid darkslategrey;
    border-radius: 20%;
    background: transparent;
    color: black;
    font-weight: bold;
    text-align: center;
    transition: all 0.3s ease;
    margin-left: 0.5em;
    margin-bottom: 0.5em;
    width: 46px;
    display: inline-block;
}

#diatonic-chords .extra {
    margin-left: -4em;
}

#diatonic-chords .chord:hover {
    cursor: pointer;
    border-color: #F442FF;
    color: #fff;
    transform: scale(1.2);
}

#diatonic-chords .chord.active {
    background: #73706c;
    /*color: #fff;*/
}

.button {
    margin-bottom: 30px;
    margin-top: 30px;
    text-align: center;
    line-height: 30px;
    border: 1px solid #393b3e;
    -webkit-box-shadow: #737373 0px 1px 5px;
    -moz-box-shadow: #737373 0px 1px 5px;
    box-shadow: #737373 0px 1px 5px;
    -webkit-border-radius: 23px;
    -moz-border-radius: 23px;
    border-radius: 8px;
    font-size: 14px;
    font-family: arial, helvetica, sans-serif;
    padding: 5px 10px 5px 10px;
    text-decoration: none;
    display: inline-block;
    text-shadow: 0px 1px 0 rgba(10, 10, 10, 0.5);
    font-weight: bold;
    color: #fff;
    background-color: #515459;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#515459), to(#3B3C40));
    background-image: -webkit-linear-gradient(top, #515459, #3B3C40);
    background-image: -moz-linear-gradient(top, #515459, #3B3C40);
    background-image: -ms-linear-gradient(top, #515459, #3B3C40);
    background-image: -o-linear-gradient(top, #515459, #3B3C40);
    background-image: linear-gradient(to bottom, #515459, #3B3C40);
    margin-left: 10px;
}

.select2 {
    margin-left: 20px
}

.button:hover {
    border: 1px solid #393b3e;
    background-color: #3B3C40;
    cursor: pointer;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#3B3C40), to(#202124));
    background-image: -webkit-linear-gradient(top, #3B3C40, #202124);
    background-image: -moz-linear-gradient(top, #3B3C40, #202124);
    background-image: -ms-linear-gradient(top, #3B3C40, #202124);
    background-image: -o-linear-gradient(top, #3B3C40, #202124);
    background-image: linear-gradient(to bottom, #3B3C40, #202124);
}

@media (min-width: 1550px) {
    #controls {
        left: 10%;
    }
}

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
html {
    display: grid;
    min-block-size: 100%;
}

body {
    --h: 206;
    --s: 42%;
    --l: 56%;
    /*--bg: radial-gradient(hsla(var(--h), var(--s), calc(var(--l) - 1%), .99), hsla(var(--h), var(--s), calc(var(--l) - 5%), .8)),*/
    /*url("data:image/svg+xml,%3Csvg viewBox='0 0 400 400' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.5' numOctaves='6' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");*/

    --dark: hsl(var(--h) var(--s) 10%);
    --dark-hover: hsl(var(--h) var(--s) 25%);
    --light: hsl(var(--h) var(--s) 99%);

    --gap: 1.5rem;
    background: var(--bg);
    display: grid;
    height: 100%;
    background-color: #F3F6FB;
    margin: unset;
    place-content: center;
    padding: var(--gap) unset;
}

h1 {
    color: var(--light);
    display: flex;
    flex-flow: column;
    font-family: 'Bebas Neue', cursive;
    font-size: clamp(4rem, 1.1429rem + 9.1429vw, 8rem);
    line-height: .85;
    margin: calc(2 * var(--gap)) auto;
    width: 50%;
}

h1 span:last-of-type {
    align-self: flex-end;
    color: var(--dark);
}

/* Circle of Ffths */
.cf {
    aspect-ratio: 1;
    margin-block: var(--gap) 0;
    width: calc(85vw - (2 * var(--gap)));
}

.cf-arcs {
    transform: rotate(-15deg);
    transform-origin: 50% 50%;;
}

.cf-arcs path {
    fill: var(--dark);
    cursor: pointer;
    stroke: hsl(var(--h), var(--s), var(--l));
}

.cf-arcs path:hover {
    fill: var(--dark-hover);
}

.cf-arcs path.active {
    fill: hsl(206deg 81% 42%);
}

.cf-text-inner,
.cf-text-middle {
    fill: var(--light);
    font-family: ui-sans-serif, system-ui, sans-serif;
    font-weight: 500;
    letter-spacing: -0.065em;
    pointer-events: none;
    text-anchor: middle;
}

.cf-text-inner {
    font-size: .4em;
}

.cf-text-middle {
    font-size: .6em;
}

/* Flat and Sharp Positions */
.cf-flat-1 {
    transform: translate(10px, -2.5px);
}

.cf-flat-2 {
    transform: translate(13px, -7.5px);
}

.cf-flat-3 {
    transform: translate(16px, -1px);
}

.cf-flat-4 {
    transform: translate(19px, -5.5px);
}

.cf-flat-5 {
    transform: translate(22px, 1px);
}

.cf-sharp-1 {
    transform: translate(10px, -7.5px);
}

.cf-sharp-2 {
    transform: translate(13px, -3px);
}

.cf-sharp-3 {
    transform: translate(16px, -9px);
}

.cf-sharp-4 {
    transform: translate(19px, -4.5px);
}

.cf-sharp-5 {
    transform: translate(22px, 0.5px);
}

.cf-sharp-6 {
    transform: translate(25px, -6px);
}

.cf use {
    pointer-events: none;
}

.cf [baseline-shift="super"] {
    font-size: 80%;
}

#app {
    width: 300px;
    height: 300px;
    margin-left: 9%;
}

#app.minimized {
    width: 30px;
    height: 30px;
}

#app.minimized:hover {
    width: 300px;
    height: 300px;
    transition: all 0.3s ease;
}

.main {
    min-width: 1200px;
}

#key-detail {

}

#circle-of-fifths {
    z-index: 1000;
    position: absolute;
    left: 1%;
    top: 2%;
}

.ui-dialog {
    z-index: 1000;
}

#osmdContainer1 {
    margin-left: 8%;
    min-width: 90%;
    position: relative;
    padding-top: 8%;
    margin-bottom: 5em;
}

#osmdContainer1::backdrop {
    background-color: rgba(255,255,255,0);
}

#osmdContainer1:fullscreen {
    overflow: scroll;
}

#tips .highlighted {
    color: yellow;
    font-weight: bold;
}

.vf-note {
    /*position: absolute;*/
    /*z-index: 50;*/
}

.vf-notehead {
    /*position: absolute;*/
    cursor: pointer;
    /*z-index: 60;*/
}

.input-group > * {
    float: left;
}

.toolbar > * {
    display: inline-block;
    float: left;
    margin-left: 1%;
}

.toolbar {
    position: absolute;
    width: 100%;
    top: 1%;
    left: 6em;
}

#collapse2 {
    position: absolute;
    top: 8em;
}

button {
    cursor: pointer;
    padding: 1px 2px 1px 2px;
}

#mainSheetMusic {
    position: absolute;
    top: 50%;
    max-height: 400px;
    left: 1%;
    width: 90%;
    overflow: scroll;
    margin-top: 2%;
}

#mainSheetMusic.expanded {
    top: 6%;
    max-height: 900px;
}

audio {
    margin-top: -1em;
}

.rhythm-syllables {
    top: -3em;
    position: absolute;
}

.vis-network canvas {
    z-index: auto;
}

.highlighted {
    background-color: yellow;
}

.chord-list {
    padding: 2px;
}

.chord-list .chord {
    border-radius: 50%;
    background-color: #7c5c5c;
    color: white;
    width: 40px;
    display: inline-block;
    text-align: center;
    margin-left: 4px;
    padding: 2px;
    cursor: pointer;
    user-select: none;
}

.chord-list:nth-child(even) .chord {
    background-color: #d29261;
    color: black;
    border: 1px solid black;
}

.chord-list .chord.open-str {
    border: 1px solid blue;
    border-radius: 10%;
}

.chord-list .chord.highlighted{
    background-color: #39eb15;
    color: black;
}

.chord-list .chord.highlighted-main{
    background-color: blue;
    color: white;
}

.chord-list.highlighted {
    border: 1px solid black;
}

.chord-list .btn {
    border: 1px solid black;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 20%;
    font-size: large;
    font-weight: bold;
    cursor: pointer;
}

#keyChartDialog {
    position: absolute;
    top: 5em;
    right: 2em;
    z-index: 100;
    user-select: none;
}

#chordInput {
    position: absolute;
    left: 5px;
    top: 6em;
    width: 50px;
    height: 1000px;
}

#keyLabel {
    cursor: pointer;
}

#scaleContainer {
    display: inline-block;
}

#scaleContainer span {
    margin-left: 10px;
}

#scaleContainer span.extra {
    color: blue;
}

#note-information {
    position: absolute;
    right: 1em;
    top: 2.5em;
}

.cross-btn {
    cursor: pointer;
    position: relative;
    z-index: 800;
}

.vf-text {
    cursor: pointer;
}

.chord-number-btn {
    padding: 5px;
    border: 1px solid grey;
    border-radius: 20%;
    cursor: pointer;
    margin-right: 5px;
    margin-bottom: 5px;
}

.chord-number-btn.open-chord {
    border-radius: 50%;
}

.chord-number-btn.selected {
    background-color: yellow;
}

.chord-variation-btn {
    padding: 5px;
    border: 1px solid grey;
    border-radius: 20%;
    margin-right: 5px;
    margin-bottom: 5px;
    cursor: pointer;
}

.chord-variation-btn.selected {
    background-color: yellow;
}

.note-name {
    color: blue;
    z-index: 2000;
    font-weight: bold;
    background: cyan;
}