<div id="modal-container" style="padding:2%" >
	<div class="row row-centered">
        <div class="col-md-12 col-centered">
        		<label class="btn btn-primary" uib-btn-checkbox 
					   ng-style="btnStyle"
					   ng-model="checkModel[0]" 
					   >
			 I know nothing about programming 
			    </label>
				<br />
				<label class="btn btn-primary" uib-btn-checkbox
					   ng-model="checkModel[1]" 
					   ng-style="btnStyle"
					   ng-disabled="checkModel[0]"> 
			 I know a little about programming
			 	</label>
				<br />
				<label class="btn btn-primary" uib-btn-checkbox
					   ng-model="checkModel[2]" 
					   ng-style="btnStyle"
					   ng-disabled="checkModel[0]"> 
			 I know C/C Plus Plus
			 	</label>
				<br />
				<label class="btn btn-primary" uib-btn-checkbox
					   ng-model="checkModel[3]" 
					   ng-style="btnStyle" 
					   ng-disabled="checkModel[0]"> 
			 I know Basic Java		
			 	</label>
				<br />
        </div>
        <div class="col-xs-1 col-centered">
        	<a class="btn btn-primary" ui-sref="article.list" ng-click="close()"> Start </a>
        </div>
    </div>
    

</div>

